* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  
  section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 50px 40px;
    border: 1px solid silver;
    border-radius: 8px;
  }
  .form-container {
    width: 430px;
  }
  .side-img {
    position: absolute;
    top: 30%;
    right: 10%;
  }
  .side-img img {
    width: 190px;
  }
  .header p {
    font-size: 26px;
    margin: 10px 0 23px 0;
  }
  
  .header img {
    margin-left: -3px;
    width: 60px;
    margin: 0;
  }
  
  .form-first {
    display: flex;
    justify-content: space-between;
  }
  .form-first div {
    flex: 1;
    width: 47%;
  }
  .form-second {
    margin: 20px 0;
  }
  #username {
    width: 400px;
  }
  .username-text {
    position: absolute;
    top: 10px;
    left: 310px;
    font-size: 14px;
  }
  .username-suggestion {
    font-size: 12px;
    margin: 8px 0 14px 0;
  }
  .username-current {
    color: royalblue;
    font-size: 14px;
    font-weight: bold;
  }
  .form-third {
    margin: 20px 0 50px 0;
  }
  .password-dot {
    display: flex;
  }
  #password {
    width: 160px;
    margin-right: 30px;
  }
  #confirm {
    width: 160px;
    margin-right: 30px;
  }
  .password-dot img {
    margin-top: 7px;
    margin-left: -18px;
    width: 28px;
    height: 24px;
  }
  .signin {
    color: royalblue;
    font-size: 14px;
    font-weight: bold;
  }
  .button {
    position: relative;
    left: 50%;
    padding: 12px 30px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border: 1px solid royalblue;
    border-radius: 5px;
  }
  .input-group {
    position: relative;
  }
  .input-group .input-area {
    outline: none;
    border: 1px solid #cacaca;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
  }
  .input-group .input-area:focus {
    border: 2px solid royalblue;
  }
  
  .input-group .label {
    color: #6e6e6e;
    position: absolute;
    top: 10px;
    left: 12px;
    background: #ffffff;
    transition: 0.15s;
    font-size: 14px;
  }
  
  .input-group .input-area:focus + .label {
    top: -8px;
    left: 8px;
    padding: 0 4px;
    font-size: 12px;
    color: royalblue;
  }
  .input-group .input-area:focus:valid + .label {
    top: -8px;
    padding: 0 4px;
    font-size: 12px;
    color: #009f05;
    display: inline;
  }
  
  .input-group .input-area:valid + .label {
    top: -8px;
    padding: 0 4px;
    font-size: 12px;
    color: #009f05;
    display: inline;
  }
  
  .input-group .input-area:valid {
    border: 1px solid #009f05;
  }
  